/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.aside {
    box-shadow: rgba(255, 255, 255, 0.226) 0px 1px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--background-header);
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}

.main {
    box-shadow: rgba(255, 255, 255, 0.226) 0px 1px 10px;
    background-color: var(--background-header);
    padding: 20px;
    border-radius: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow-y: hidden;
}

.title {
    color: var(--foreground-header);
    border-bottom: solid 2px var(--foreground-header);
    padding-bottom: 15px;
    text-align: center;
}

.chartContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    color: var(--foreground-header);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.pieChart {
    background-image: conic-gradient(var(--background-footer) 0, var(--background-footer) var(--max), var(--accent-yellow) 0, var(--accent-yellow) var(--value));
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px;
}

.innerChart {
    background: var(--background-header);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article {
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header {
    background: var(--accent-yellow);
    padding: 10px;
    color: var(--foreground-header);
    text-align: center;
}

.body {
    padding: 10px;
    background: var(--background-footer);
    width: 100%;
    position: relative;
    overflow-y: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.scroll {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.kanban .scroll .article {
    flex-grow: 0;
    flex-basis: auto;
}

.scroll::-webkit-scrollbar {
    display: none
}

.body .header p {
    font-weight: bold;
}

.body .body {
    background: var(--background-header);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 14px;
    color: var(--foreground-header);
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.description .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.description .bold {
    margin-bottom: 5px;
}

.assignees .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: disc;
    margin-left: 25px;
    gap: 5px;
}

.assignees .bold {
    margin-bottom: 5px;
}

.body .body .bold {
    color: var(--foreground-header);
    font-weight: bold;
}

.kanban {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.kanban .article {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}